@page "/SharedControllerImplementation"
@using BlazorGenericsAndReflection.BusinessLogic.Interface
@using BlazorGenericsAndReflection.BusinessLogic.Model
<h3>SharedControllerImplementation</h3>

@foreach (var listItem in _list)
{
    <h2>@listItem.Name</h2>
    <span>Number: <strong>@listItem.Output.NumberValue</strong> String: <strong>@listItem.Output.StringValue</strong> <input value="Press Me!" type="button" @onclick="@listItem.ActionOnButtonClick"></span>
}

@code {
    List<IFeatureShared<IFeatureOutput>> _list = new List<IFeatureShared<IFeatureOutput>>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _list.Add(new SharedImplementation("First", new FeatureOutput(42, "Hello"), () => Console.WriteLine("MyFirstImplementation Click")));
        _list.Add(new SharedImplementation("Second", new FeatureOutput(999, "World"), () => Console.WriteLine("MySecondImplementation Click")));
    }

}